# Core
Flask
Flask-Mail
Flask-Login
Flask-WTF
Werkzeug
Jinja2
python-dotenv
# Resume Parsing
pdfminer.six
python-docx
PyPDF2

openai
# Extra
requests

# Deployment
gunicorn





